// layout 组件的左侧菜单宽度
$base-menu-width:260px;
  //左侧菜单的背景颜色
$base-menu-background:#304156;
$base-menu-min-width:50px;

// 顶部导航的高度
$base-tabular-height:50px;

//左侧菜单logo高度设置
$base-menu-logo-height:50px;
//左侧菜单logo右侧文字大小
$base-logo-title-font-size:20px;

// 图标默认填充颜色
$base-svg-icon-color: #fff;
// 图标默认激活颜色
$base-svg-icon-active-color: --el-menu-active-color;